.listt{
    background-color: aqua;
    float: left;
    border-color: brown;
    border-radius:10%;
    border-style: dashed;
    border-width: 3px;
    margin:2px ;
    text-align: center;
}

.list{
    background-color: blanchedalmond;
}


.close:hover {
  background-color: #f44336;
  right:0;
  top:0;
}

.close{
	color: red;
	right:0;
    top:0;
    margin: 2px;
}

