.listt{
    background-color: aqua;
    float: left;
    border-color: brown;
    border-radius:10%;
    border-style: dashed;
    border-width: 3px;
    margin:2px ;
    text-align: center;
    padding: 2px;
}

.list{
    background-color: blanchedalmond;
}

.style {
display: block;
margin: 5px ;
}

.close:hover {
  background-color: #f44336;
  right:0;
  top:0;
}

.close{
  color: red;
  right:0;
    top:0;
    margin: 2px;
}


p:hover {
  background-color: #aaff;
  font-weight: bold;
  color:white;
}






