/* add your CSS here */
#maind {
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	width: 100%; //need to edit
	box-shadow: 20px; //need to edit
}


#secondd {
	border-style: solid;
	border-width: 1px;
	width: 100%; //need to edit
	box-shadow: 20px; //need to edit
}

#img2 {
    width: 300px;
    height: 200px;
}

.padding {
padding: 5px;
}

span {
text-transform: bold ; //need to be edit
}

ul {
    list-style-type: none;
}

.test1 {
	text-decoration: italic ; //need to be edited
}